Exercise1/news_sample.csv

Exercise2/news_data_cleaned.csv
Exercise2/region_article_links.csv
Exercise2/scraped_article_info.csv

Exercise3/stars_test_X.npz
Exercise3/stars_train_Xy.npz

PythonExercises/british-english
PythonExercises/fern_data.txt